.Navbar
{
    width: 1515px;
    height: 55px;
    background-color: #fff;
    box-shadow: 1px 1px 15px rgb(151, 150, 150);
    padding-top: 40px;
    border-radius: 25px ;
    margin: 10px;
}
body
{
    margin: 0px;
}
.Home
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}
.About
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 107px;
    letter-spacing: 2px;
    cursor: pointer;
}
.Frontpage
{
    width: 100%;
    height: max-content;
}
.Docs
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 92px;
    letter-spacing: 2px;
    cursor: pointer;
}
.menu
{
    background-color: #fff;
    width: auto;
    height: auto;
    margin-left: 858px;
}
.Login
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 92px;
    letter-spacing: 2px;
    border: none;
    background-color: #fff;
}
.Signup
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 80px;
    letter-spacing: 2px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.image
{
    width: 63px;
    height: 78px;
    float: left;
    margin-left: 20px;
    margin-top: -33px;

}
.Wholepage
{
    background-color: aquamarine;
    width: 100%;
    height: 778px;
   padding-top: 1px;
   display: flex;
}
.background#blur.active
{
    filter: blur(5px);
    pointer-events: none;
}
#popL
{
    width: 361px;
    height: 469px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 25px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 25%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popL.active
{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.loginpic
{
    width: 83px;
    height: 104px;
    margin-left: 159px;
}
.h1
{
    color: gray;
    font-size: 26px;
    width: fit-content;
    height: 40px;
    background-color: #fff;
    margin-left: 137px;
}
.imageLS
{
    
    width: 78px;
    height: 100px;
    
}
#close
{
    float: left;
    width: 339px;
    height: 46px;
    border: none;
    background-color: #ffffff;
    font-weight: bolder;
    font-size: 26px;
    margin-top: 417px;
    border-radius: 25px;
    opacity: 1.2;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
#close:hover{
    background-color: rgb(151, 151, 151);
    opacity: 0.5;
}
#close
{
    margin-left: -220px;
    margin-top: 418px;
}
.ic
{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    text-align: center;
}
.info
{
    width: 20px;
    height: 40px;
    background-color:gray;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
}