.Navbar
{
    width: 100%;
    height: 55px;
    background-color: #fff;
    box-shadow: 1px 1px 15px rgb(151, 150, 150);
    padding-top: 40px;
    border-radius: 25px ;
}
.Home
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    letter-spacing: 2px;
}
.About
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
}
.Frontpage
{
    width: 100%;
    height: max-content;
}
.Docs
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
}
.menu
{
    background-color: #fff;
    width: auto;
    height: auto;
    margin-left: 746px;
}
.Login
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
}
.Signup
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
}
.image
{
    width: 63px;
    height: 78px;
    float: left;
    margin-left: 20px;
    margin-top: -33px;

}
.Wholepage
{
    background-color: aquamarine;
    width: auto;
    height: auto;
}
.contentpart
{

}