.Navbar
{
    width: 99%;
    height: 55px;
    background-color: #fff;
    box-shadow: 1px 1px 15px rgb(151, 150, 150);
    padding-top: 40px;
    border-radius: 25px ;
    margin: 10px;
}
body
{
    margin: 0px;
}
.Home
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    letter-spacing: 2px;
}
.About
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
}
.Frontpage
{
    width: 100%;
    height: max-content;
}
.Docs
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
}
.menu
{
    background-color: #fff;
    width: auto;
    height: auto;
    margin-left: 746px;
}
.Login
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
    border: none;
    background-color: #fff;
}
.Signup
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 113px;
    letter-spacing: 2px;
    border: none;
    background-color: #fff;
}
.image
{
    width: 63px;
    height: 78px;
    float: left;
    margin-left: 20px;
    margin-top: -33px;

}
.Wholepage
{
    background-color: aquamarine;
    width: 100%;
    height: 778px;
   padding-top: 1px;
}
.background
{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
}
#popL
{
    width: 361px;
    height: 469px;
    background-color: #fff;
    position: absolute;
    margin-left: 38%;
    margin-top: 90px;
    border-radius: 25px;
}
.h1
{
    color: gray;
    font-size: 26px;
    width: fit-content;
    height: 40px;
    background-color: #fff;
    margin-left: 137px;
}
.imageLS
{
    text-align: center;
    border-radius: 121px;
    width: 78px;
    height: 100px;
    margin-left: 143px;
}
.close
{
    margin-left: 100px;
    margin-top: 10px;
}
.ic
{
    width: fit-content;
    height: fit-content;
}