.Navbar
{
    width: 833px;
    height: 55px;
    background-color: rgb(166, 247, 220);
    box-shadow: 0px 1px 15px rgb(151, 150, 150);
    padding-left: 701px;
    padding-top: 40px;
}
body
{
    margin: 0px;
}
.Home
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    letter-spacing: 2px;
}
.About
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
}
.Frontpage
{
    width: 100%;
    height: max-content;
}
.Docs
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
}
.menu
{
    background-color:  rgb(166, 247, 220);
    width: auto;
    height: auto;
    margin-left: 44px;
}
.Login
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
}
.Signup
{
    text-decoration: none;
    font-family: Arial;
    color: rgb(66, 66, 66);
    font-size: 14px;
    margin-left: 120px;
    letter-spacing: 2px;
}